.card {
    height: 300px;
    border-radius: 15px;
    box-shadow: 1px -1px 25px -6px #808183;
    transition: 0.15s;
    margin: 1rem;
    padding: 1rem;
    background-image: linear-gradient(0deg, rgba(44, 43, 43, 0.8), rgba(44, 43, 43, 0.4), rgba(44, 43, 43, 0.2), rgba(44, 43, 43, 0)), url("https://source.unsplash.com/random/300");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.005,1.005);
    filter: brightness(105%);
    box-shadow: 1px -1px 30px -4px #808183;
    cursor: pointer;
}

.textWrapper {
    border-left: solid 0.4rem rgb(229, 9, 20);
    padding: 0 0 0 0.3rem;
}

.title {
    font-family: 'Raleway', sans-serif;
    font-size: 2.2rem;
    color: rgb(243, 243, 243);
    padding: 0;
    margin-bottom: 0;
    margin-top: 205px;
    line-height: 1;
}

.description {
    color: rgb(235, 235, 235);
    padding: 0;
    margin: 0;
}

@media (max-width: 767.98px) {
    .card {
        height: 275px;
    }

    .title {
        margin-top: 180px;
    }
}