.card {
    height: 300px;
    border-radius: 15px;
    box-shadow: 1px -1px 25px -6px #808183;
    transition: 0.15s;
    margin: 1rem;
    background-image: linear-gradient(0deg, #2c2b2b, rgba(255,0,0,0), rgba(255,0,0,0), rgba(255,0,0,0)), url("https://source.unsplash.com/random/300");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.005,1.005);
    filter: brightness(105%);
    box-shadow: 1px -1px 30px -4px #808183;
    cursor: pointer;
    
}

.image {
    height: inherit;
    width: inherit;
    padding: 20px;
    border-radius: 15px;
    overflow: hidden;
    opacity: 1;

    .description {
        opacity: 0;
        transition: ease-in 0.15s opacity;
    }

    .title {
        font-family: 'Raleway', sans-serif;
        color: rgb(209, 209, 209);
        padding: 0;
        margin-bottom: 0;
        margin-top: 210px;
        line-height: 1;
    }
}

.image:hover {
    opacity: 1;
    
    .description {
        opacity: 1;
    }

    .title {
        
    }
}

.title {
    
}
.description {
    color: rgb(209, 209, 209);
}