.aboutcard {
    height: 500px;
    border-radius: 15px;
    box-shadow: 1px -1px 25px -6px #808183;
    transition: 0.2s;
    margin: 1rem;
    background-image: url("https://source.unsplash.com/random/300");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

    .image {
        height: inherit;
        width: inherit;
        padding: 20px;
        border-radius: 15px;
        overflow: hidden;
        
        opacity: .2;
        transition: 0.3s;
    }

    .image:hover {
        opacity: .5;

    }
}

.card:hover {
    transform: scale(1.02,1.02);
    filter: brightness(115%);
    box-shadow: 1px -1px 30px #808183;
    
}


