
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Dancing+Script:600|Monoton|Oswald:600|Playfair+Display:600|Raleway:700&display=swap');


.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

.wrapper1 {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #00adb5
}

.container2 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    overflow: hidden;
    background: #00adb5; //#93D9D8; //
    position: relative;

}


.card1 {
    height: 300px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 4px -4px 25px -6px #808183;
    background: linear-gradient(45deg, #e13680, #a43ab2);
    transition: 0.4s;
}

.card1:hover {
    transform: scale(1.02,1.02);
    filter: brightness(110%);
    box-shadow: 6px -6px 25px #808183;
}

.card2 {
    height: 300px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 4px -4px 25px -6px #808183;
    background: linear-gradient(220deg, #F7971E, #FFD200);
    transition: 0.4s;
}

.card2:hover {
    transform: scale(1.02,1.02);
    filter: brightness(110%);
    box-shadow: 6px -6px 25px #808183;
}

.card3 {
    height: 300px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 4px -4px 25px -6px #808183;
    background: linear-gradient(45deg, #606c88, #3f4c6b);
    transition: 0.4s;
}

.card3:hover {
    transform: scale(1.02,1.02);
    filter: brightness(110%);
    box-shadow: 6px -6px 25px #808183;
}

.card4 {
    height: 300px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 4px -4px 25px -6px #808183;
    background: linear-gradient(45deg, #41d8dd, #5583ee);
    transition: 0.4s;
}

.card4:hover {
    transform: scale(1.02,1.02);
    filter: brightness(110%);
    box-shadow: 6px -6px 25px #808183;
}