.socialIconContainer {
    z-index: 0;
    position: relative;
    padding: 20px 0;
}

.socialIconWrapper {
    display: flex;
    justify-content: center;
    position: center;
}

.icon {
    font-size: 2rem;
    padding: 0.8rem;
    position: center;
    color: #000000;
    cursor: pointer;
}

.icon:hover {
    transform: scale(1.05, 1.05);
}

@media (max-width: 767.98px) {
    .teamCardOuter {
        margin-left: 0.5rem;
        margin-right: 0.2rem;
    }
}
