.containerMain {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

@media (max-width: 767.98px) {
    .containerTeamCard {
        margin-left: 0.2rem;
        margin-right: 0.2rem;
    }
}
